.ant-table-container table > thead > tr:first-child th {
    background-color: #ccb59e;
}

.ant-table-filter-trigger {
    color: #e40d0c;
}

.ant-table-tbody > tr > td {
    background-color: #a2afb1;
}